@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Montserrat Subrayada", sans-serif;
}

html {
  font-size: 62.5%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mouse-circle,
.mouse-dot {
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

.mouse-circle {
  width: 6rem;
  height: 6rem;
  border: .1rem solid #39FF14;
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  animation: mouseCircleAnimation 10s infinite linear;
}

@keyframes mouseCircleAnimation {
  0% {
    width: 6rem;
    height: 6rem;
  }
  25% {
    width: 8rem;
    height: 8rem;
  }
  35% {
    width: 4rem;
    height: 4rem;
  }
  70% {
    width: 8rem;
    height: 8rem;
  }
  100% {
    width: 6rem;
    height: 6rem;
  }
}

.mouse-dot {
  width: .5rem;
  height: .5rem;
  background-color: black;
}

.page-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url(images/portfolio-bg.jpg) center no-repeat;
  background-size: cover;
  opacity: 70%;
}

.section-1 {
  position: relative;
  width: 100%;
  height: 100vh;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 5rem;
  font-size: 2.7rem;
  text-transform: uppercase;
  color: black;
  font-family: "Montserrat Subrayada";
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.circle {
  width: 30rem;
  height: 30rem;
  background-color: black;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 60%;
  border: 0.1rem dotted #39FF14;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
}

.circle-text {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 2.5rem;
}

.main-circle {
  width: 40rem;
  height: 40rem;
  position: absolute;
  overflow: hidden;
  background-color: black;
  opacity: 60%;
  border: 0.1rem dotted #39FF14;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .9);
}

.main-circle-text {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 2.5rem;
}

.circle-1,
.circle-2,
.circle-3,
.circle-4 {
  position: relative;
}

.circle-1:hover .circle-1-hidden-text,
.circle-2:hover .circle-2-hidden-text,
.circle-3:hover .circle-3-hidden-text,
.circle-4:hover .circle-4-hidden-text {
  display: block;
}

.circle-1-hidden-text,
.circle-2-hidden-text,
.circle-3-hidden-text,
.circle-4-hidden-text {
  display: none;
  /* position: absolute; */
  top: 100%;
  left: 0;
  padding: 8px;
  z-index: -1;
}

.featured-text {
  font-size: 2rem;
  width: 0;
  word-wrap: break-word;
  line-height: 2.5;
  position: sticky;
  top: 0;
}

.featured-text-1 {
  margin: 0 auto 0 10rem;
}

.featured-text-2 {
  margin: 0 10rem 0 auto;
}

.spacer-dot {
  width: 6px;
  height: 6px;
  background-color: #39FF14;
  border-radius: 50%;
  opacity: 30%;
  margin: 0 .4rem;
}